/* CSS for product details layout */
#productDetails {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center; 
    align-items: center; 
}
#productDetails p {
    margin-right: 20px; 
}
#productDetails img {
    max-width: 300px; 
    height: auto;
}
h1{
    color:#33612f ;
}




