/* Styling the navbar background */
.navbar {
    background-color: #33612f; /* Green background color */
    padding-top: 1px; /* Adjust top padding of navbar */
    padding-bottom: 1px; /* Adjust bottom padding of navbar */
}

/* Styling the navbar links */
.navbar-nav {
    display: flex; /* Use flexbox */
    justify-content: space-around; /* Distribute items evenly */
    align-items: center; /* Align items vertically */
    width: 100%; /* Full width */
}

.navbar-nav .nav-link {
    color: white; /* White text color */
    text-decoration: none; /* Remove underline */
    padding: 0 10px; /* Add padding to each link */
}

.navbar-brand img {
    width: 65px; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
}

/* Resetting default margin and padding */
html, body {
    margin: 0;
    padding: 0;
}

/* Container to position elements */
.container {
    position: relative;
    text-align: center; /* Center align the content */
}

/* Styling the heading */
h1 {
    color: #333; /* Dark gray color */
    font-size: 24px; /* Adjust font size as needed */
}

/* Styling the paragraph */
p {
    color: #666; /* Medium gray color */
    font-size: 16px; /* Adjust font size as needed */
}

/* Styling the link */
.search-link {
    text-decoration: none; /* Remove underline */
    position: absolute;
    top: 20px; /* Adjust top position as needed */
    left: 20px; /* Adjust left position as needed */
    font-weight: bold; /* Make the text bold */
}


/* Styling the image */
.img-fluid {
    max-width: 65%; /* Set maximum width to 75% */
    display: block; /* Make sure image doesn't overlap with other elements */
    margin: 0 auto; /* Center align the image */
    padding-top: 10px;
}

