/* Navbar css */
.navbar {
    background-color: #33612f;
    padding-top: 1px;
    padding-bottom: 1px;
}
.navbar-nav {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    width: 100%; 
}
.navbar-nav .nav-link {
    color: white; 
    text-decoration: none; 
    padding: 0 10px; 
}
.navbar-brand img {
    width: 65px; 
    height: auto; 
}

/* Resetting default margin and padding */
html, body {
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    text-align: center; 
}
h1 {
    color: #333; 
    font-size: 24px; 
}
p {
    color: #666; 
    font-size: 16px; 
}
.search-link {
    text-decoration: none; 
    position: absolute;
    top: 20px; 
    left: 20px; 
    font-weight: bold; 
}
.img-fluid {
    max-width: 65%; 
    display: block; 
    margin: 0 auto; 
    padding-top: 10px;
}

